/* =========================
   RESET & VARIABLES
========================= */

:root {
    /* Cores principais */
    --color-primary-dark: #0F2744;
    --color-hero-bg: #6c8388c9;
    --color-hero-bg-dark: #44575B;
    --color-background: #F4F6F8;
    --color-text-primary: #2F3A40;
    --color-text-light: #E6ECEF;
    --color-white: #FFFFFF;

    /* Sombras */
    --shadow-header: 0 4px 15px rgba(0,0,0,0.08);
    --shadow-button: 0 6px 14px rgba(15,39,68,0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    list-style: none;
}

/* =========================
   BASE
========================= */

body {
    background-color: var(--color-background);
    font-family: sans-serif;
    color: var(--color-text-primary);  
}

h1, h2 {
    color: var(--color-primary-dark);
}

p {
    color: var(--color-text-primary);
    line-height: 1.5;
}

/* =========================
   HEADER
========================= */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 60px;
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.header-logo img {
    height: 220px;
    width: auto;
}

.header-nav {
    display: flex;
    gap: 30px;
}

.nav-list {
    display: flex;
    gap: 30px;
    font-size: 18px;
    align-items: center;
}

.nav-list a {
    text-decoration: none;
    color: var(--color-primary-dark);
    font-weight: 500;
    transition: 0.3s ease;
}

.nav-list a:hover {
    color: var(--color-hero-bg);
}

/* =========================
   BUTTONS
========================= */

.btn-primary,
.btn-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 14px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.hero-btn {
    margin: 18px 0px;
    margin-left: 9px;
}

/* PRIMARY */

.btn-primary {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    border: none;
    box-shadow: 0 8px 20px rgba(15,39,68,0.18);
    
}

.btn-primary:hover {
    background-color: #0B1F33;
    transform: translateY(-3px);
    box-shadow: 0 12px 28px rgba(15,39,68,0.25);
}

/* SECONDARY */

.btn-secondary {
    background-color: transparent;
    color: var(--color-primary-dark);
    border: 2px solid var(--color-primary-dark);
}

.btn-secondary:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    transform: translateY(-3px);
    box-shadow: 0 10px 24px rgba(15,39,68,0.15);
}

.hero-btn {
    margin-right: 10px;
    margin-bottom: 10px; 
}




/* =========================
   HERO
========================= */

.hero {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    align-items: center; 
    gap: 60px;
    padding: 100px 60px;

    background: linear-gradient(
        135deg,
        var(--color-hero-bg),
        var(--color-hero-bg-dark)
    );
}

.hero h1 {
    color: var(--color-primary-dark);
    font-size: 48px;
    line-height: 1.2;
}

.hero p {
    color: var(--color-text-primary);
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.6;
}

.hero-image img {
    width: 100%;
    max-width: 550px;
    object-fit: cover;
}



.hero-benefits li {
    margin-top: 18px;
    line-height: 1.5;
    
}

